* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  font-family: 'Lobster', cursive;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 25px;
}

img {
  display: block;
  width: 150px;
  float: left;
  height: 150px;
  border: 2px solid lightblue;
  
}

#image-container {
  padding-left: 62px;
  width: 800px;
  margin: 25px auto;
  height: 175px;
}

#leftImg, #middleImg, #rightImg {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

span {
  margin-left: 50px;
}

#attempts {
  margin-left: 20px;
  font-size: 30px;
}

#results {
  background: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-vector-western-meal-afternoon-tea-menu-background-image_265487.jpg);
  width: 650px;
  height: 800px;
  padding: 150px;
  margin: 25px auto;

}

ul li {
  color: #B0C4DE		;
  margin: 10px;
  font-size: 20px;
  font-family: 'Mountains of Christmas', cursive;
}
  span{
  font-size: 32px;
}
#attempts{
  color: #51C0BF;
  background-color:black;
  padding: 12px;
  border-radius: 50%;
}
div {
  border-radius: 20%;
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
}

@keyframes example {
  0%   {background-color:#CA9F92; left:0px; top:0px;}
  25%  {background-color:#51C0BF; left:200px; top:0px;}
  50%  {background-color:#7095E1; left:200px; top:200px;}
  75%  {background-color:rgb(71, 94, 71); left:0px; top:200px;}
  100% {background-color:#CA9F92; left:0px; top:0px;}
}